
.hero-empl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3rem;
    align-items: center;
    margin-top: 50px;
}
.hero-title-empl{
    display: flex;
    justify-content: center
}
.hero-title-empl h2 {
    text-align: center;
    margin-top:1rem;
    font-size: 24px;
    margin-bottom: 0.1px;
    color: #f2f2f2;
}
main{
    display: flex;
    flex-direction: column;
}

.regEmpleado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 40px;
    margin: 1rem;
    margin-left: 1rem;
    font-family: 'Roboto';
    border-radius: 8px;
    margin-bottom: 20px;
}

.regEmpleado h3 {
    text-align: center;
    font-size: 18px;
    color: #f2f2f2;
    margin-bottom: 10px;
}
.regEmpleado .fecha{
    font-family: 'Roboto';
}

.regEmpleado input[type="text"],
.regEmpleado input[type="date"],
.regEmpleado input[type="tel"],
.regEmpleado input[type="mail"] {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding: .9rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sidebar-empl{
    color: aliceblue;
    display: flex;
    padding: 0.4rem;
}

.sidebar-empl hr {
    height: 1px;
}
.sidebar-empl li a {
    color: rgb(206, 149, 26);
    font-family: 'Poppins';
    font-weight: bold;
    font-weight: bold;
    text-decoration: none;
}
.sidebar-empl li {
    margin: 1rem;
    padding: .50rem;
    text-align: center;
    list-style: none;

}

.sidebar-empl hr {
    background-color: rgb(197, 165, 20);

    border: none;
}

.regEmpleado input[type="button"] {
    width: 120px;
    height: 40px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.regEmpleado input[type="button"]:hover{
    background-color: #45a049;
    
}


.tablaEmplead table {
    width: 100%;
    margin: 1rem;
    border-collapse: collapse;
}

/* .tablaEmplead th,
.tablaEmplead td {
    padding: 8px;
    text-align: left;
    margin: 1rem;
    border-bottom: 1px solid #4b4949;
    background-color: #f2f2f2;
} */

/* .tablaEmplead th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-family: 'Roboto';
} */
label{
    font-family: 'Roboto';
    font-size: bold;
}
th, td {
    padding: .9rem;
    text-align: left;
    background-color:#fffef6;
    font-family: 'Roboto';
    border-bottom: 1px solid #ddd;
}

th {
    background-color:#ffd904;
}
